<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <!-- add some variables -->
  <variable name="fileName" value="C:/CloudBot/Logs/${shortdate}.log"/>
  <variable name="archiveFileName" value="C:/CloudBot/Logs/${shortdate}.{####}.log"/>
  <variable name="layout-format" value="${longdate} ${uppercase:${level}} ${logger} - ${message}${onexception:inner=${newline}${exception:format=ToString}}"/>

  <!-- add your targets here -->
  <targets>
    <target name="File" xsi:type="File" fileName="${fileName}" layout="${layout-format}"
            archiveFileName="${archiveFileName}"
            archiveAboveSize="5242880"
            archiveNumbering="Rolling"
            concurrentWrites="true"
            keepFileOpen="false"
            encoding="UTF-8"/>
  </targets>

  <!-- add your logging rules -->
  <rules>
    <logger name="*" minlevel="Info" writeTo="File"/>
  </rules>
</nlog>
